.main{
    position: fixed;
    z-index: -1;
    filter: blur(2px);
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
/*     display: none; */
}

